<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wg.demo.dao.EmployeeMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache">
    <property name="timeToIdleSeconds" value="3600"/>
    <property name="timeToLiveSeconds" value="3600"/>
    <!-- 同ehcache参数maxElementsInMemory -->
    <property name="maxEntriesLocalHeap" value="1000"/>
    <!-- 同ehcache参数maxElementsOnDisk -->
    <property name="maxEntriesLocalDisk" value="10000000"/>
    <property name="memoryStoreEvictionPolicy" value="LRU"/>
  </cache>

  <!--<select id="findByPaging" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">-->
    <!--select-->
    <!--*-->
    <!--from employee-->
    <!--</select>-->
  <select id="queryRoleslimit" resultMap="BaseResultMap" parameterType="map">
    select
    *
    from employee where age = ${age}
    </select>

  <select id="selectByGenderAndAge" resultMap="BaseResultMap" >
    select
    *
    from employee where gender = #{param1} and age = #{param2}
    </select>
  <select id="selectByGenderAndAge2" resultMap="BaseResultMap" >
    select
    *
    from employee where gender = #{param1} and age = #{param2}
    </select>
  <select id="selectByMapParams" resultMap="BaseResultMap" parameterType="map">
    select
    *
    from employee where gender = #{gender} and age = #{age}
  </select>
  <select id="selectByBeans" resultMap="BaseResultMap" parameterType="com.wg.demo.po.Employee">
    select
    *
    from employee where gender = #{gender} and age = #{age}
  </select>
  <select id="findByJSONObject" resultMap="BaseResultMap" parameterType="com.alibaba.fastjson.JSONObject">
    select
    *
    from employee where gender = #{gender} and age = #{age}
  </select>
  <select id="findByList" resultMap="BaseResultMap" >
SELECT * from employee where age in
    <foreach collection="list" open="(" separator="," close=")" item="age">
      #{age}
    </foreach>
  </select>
    <select id="findByDepartment" resultMap="BaseResultMap" parameterType="com.wg.demo.po.Department">
        SELECT * from employee where dept_id =#{department.id} and age in
        <foreach collection="department.employees" open="(" separator="," close=")" item="employee">
            #{employee.age}
        </foreach>
    </select>

  <resultMap id="AssociationMap" type="com.wg.demo.po.Employee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="gender" jdbcType="SMALLINT" property="gender" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="department" javaType="com.wg.demo.po.Department">
      <id column="d_id" property="id"/>
      <result column="deptName" jdbcType="VARCHAR" property="deptName" />
      <result column="descr" jdbcType="VARCHAR" property="descr" />
    </association>
  </resultMap>
  <select id="getAssociation" resultMap="AssociationMap" >

    SELECT e.* ,t.id d_id,t.dept_name deptName,t.descr from employee e
    left join department t on e.dept_id = t.id
     where e.id=#{employeeId}
  </select>
  <select id="findJSONResult" resultType="com.alibaba.fastjson.JSONObject" >
    SELECT * from employee
  </select>

  <select id="getEmployeeCount" parameterType="map" resultMap="BaseResultMap" statementType="CALLABLE" useCache="false">
    <![CDATA[
        call getecount(
        #{age,mode=IN,jdbcType=VARCHAR},
        #{ecount,mode=OUT,jdbcType=INTEGER});
    ]]>
  </select>
  <select id="getCount" parameterType="map"   statementType="CALLABLE" useCache="false">
    <![CDATA[
        call getCount(
        #{age,mode=IN,jdbcType=VARCHAR},
        #{ecount,mode=OUT,jdbcType=INTEGER});
    ]]>
  </select>

</mapper>